/* cadetblue: #5F9EA0
 #A9A9A9*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(36, 47, 47, 0.5),
    rgba(29, 2, 2, 0.5)
  );
}

.header {
  text-align: center;
  color: #1c6da0;
  
}


.header-title {
  font-weight: 700;
  letter-spacing: 5px;
  font-family: "Times New Roman", Times, serif;
  padding-top: 5px;
  
}
.header-text {
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 10px;
  
}

.display-box {
  background-image: linear-gradient(
    to right bottom,
    rgb(95, 158, 160, 0.5),
    rgb(169, 169, 169, 0.5)
  ), 
  url(./images/weather1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  
}
.input-box {
  text-align: center;
  padding-top: 5px;
}
.input-window {
  width: 30vh;
  height: 5vh;
  border: 2px solid;
  border-radius: 10px;
  text-align: center;
}
.input-window:focus {
  background-color: lightblue;
}

.btn {
  display: inline-block;
  width: 20vh;
  height: 5vh;
  border: 0.5px solid;
  border-radius: 100px;
  position: relative;
}
.btn:link,
.btn:visited {
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 1s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.btn::after {
  content: "";
  display: inline-block;
  width: 20vh;
  height: 5vh;
  border: 0.5px solid;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s;
}
.btn-white {
  background-color: #fff;
  color: #777;
}
.btn:hover::after {
  transform: scaleX(1.6) scaleY(1.6);
  opacity: 0;
}
.day-box {
  
  display: flex;
  justify-content: center;
  /* padding-top: 3%; */
  /* border: 3px solid black;
  border-radius: 10px; */
}

.card {
  display: block;
  text-align:center;
  background-image: linear-gradient(
    to right bottom,
    rgb(95, 158, 160, 0.5),
    rgb(169, 169, 169, 0.5)
  );
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  /* padding: 10px; */
  transition: all 0.4s ease;
}



.day-card {
  text-align:center;
  border:none;
  border-radius: 10px;
  margin-top: 1%;
  padding-bottom: 1%;
  width:25%;
  
}

.overall{
  text-transform: uppercase;
}

.today {
  font-weight:600;
  font-size: large;
}

.forecast-box {
  /* display:flex; */
  
}


.forecast-card {
  display: flex;
  justify-content: center;
  width: 100%;
   /* display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  grid-auto-columns: 200px;  
  
  Look into display: grid to even out the forecast cards. try to get five columns at max width*/
}
.forecast-card-small {
  margin: 1%; 
  width: 20%;
}
.forecast-card-small:hover{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
  transform: scale(1.05) translateY(-0.5rem);
  transition: all 0.4s ease;
}